body {
    display: flex;
    min-height: 80vh;
    max-width: 80vh;
    margin: auto;
    flex-direction: column;
}

header {
    display: flex;
    height: 30px;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

input {
    height: 15px;
    display: flex;
}

div {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.square {
    flex-direction: row;
    background-color: lightgray;
}

.hoveredsquare {
    background-color: black;
}